/* Imports - Tipografía
 */
 @import url("https://rsms.me/inter/inter.css");

 @supports (font-variation-settings: normal) {
   html {
     font-family: "Inter var", sans-serif;
   }
 }
 
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 p,
 figure,
 picture {
   margin: 0;
   font-family: "Inter var", sans-serif;
   font-style: normal;
 }
 
 body {
   line-height: 1.5;
   min-height: 100vh;
   font-size: 15px;
 }
 
 
 ul {
   margin: 0;
   padding-inline: 0;
 }
 
 li {
   list-style: none;
 }
 
 img,
 picture {
   max-width: 100%;
   display: block;
 }
 
 a {
   /* color: white; */
   text-decoration: none;
 }
 
 a:hover {
   color: aquamarine;
 }
 
 /* Variables */
 :root {
   --black: #000000;
   --white: #ffffff;
   --font-system: -apple-system, sans-serif;
 }
 
 /* Base */
 
 .header {
 
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 30px;
   padding-block: 20px;
 }
 
 .logo {
   height: 40px;
 }
 
 .nav ul {
   display: flex;
   gap: 20px;
 }
 
 .nav ul li {
   font-size: 15px;
   display: flex;
   color: black;
 }
 
 .nav ul li::after {
   content: '/';
   padding-left: 12px;
 }
 
 .main {
   max-width: 90vw;
   margin: 30px;
   display: grid;
   row-gap: 15px;
   column-gap: 30px;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto;
   font-size: 15px;
 
 }
 
 .main article:nth-child(1) {
   background-color: #DDDDDD;
   width: 400px;
 }
 
 .main article:nth-child(2) {
   background-color: #DDDDDD;
   width: 300px;
 }
 
 .main article:nth-child(3) {
   background-color: #DDDDDD;
   grid-column: 1 / 3;
   align-self: end;
 
 }
 
 
 .main article img {
   max-width: 100%;
   display: block;
 }
 
 .main article p {
   font-size: 20px;
 }
 
 .lista {
   display: grid;
   min-height: 100vh;
 }
 
 .lista li {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 30px;
   padding-block: 20px;
   outline: solid 1px;
 }
 
 
 .about {
   background-color: #000000;
   color: white;
   padding-inline: 30px;
   padding-block: 20px;
 }
 
 .contact {
   background-color: #000000;
   color: white;
   padding-inline: 30px;
   padding-block: 20px;
 }
 