/* Imports - Tipografía
 */
 @import url("https://rsms.me/inter/inter.css");

 @supports (font-variation-settings: normal) {
   html {
     font-family: "Inter var", sans-serif;
   }
 }
 
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 p,
 figure,
 picture {
   margin: 0;
   font-family: "Inter var", sans-serif;
   font-style: normal;
 }
 
 body {
   line-height: 1.5;
   min-height: 100vh;
   font-size: 15px;
 }
 
 
 ul {
   margin: 0;
   padding-inline: 0;
 }
 
 li {
   list-style: none;
 }
 
 img,
 picture {
   max-width: 100%;
   display: block;
 }
 
 a {
   /* color: white; */
   text-decoration: none;
 }
 
 
 
 /* Variables */
 :root {
   --black: #000000;
   --white: #ffffff;
   --font-system: -apple-system, sans-serif;
 }
 a:hover {
 }
 
 /* Base */
 
 .header {
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 30px;
   padding-block: 20px;
   border-bottom: solid 1px;
 
 }
 
 .header:hover {
 background-color: plum;
 }
 
 
 .logo {
   height: 40px;
 }
 
 .nav ul {
   display: flex;
   gap: 20px;
 
 }
 
 .nav ul li {
   font-size: 15px;
   display: flex;
   color: black;
 
 
 }
 
 .nav ul li::after {
   content: '/';
   padding-left: 12px;
 }
 
 .main {
   width: auto;
   margin: 30px;
   display: flex;
   row-gap: 15px;
   column-gap: 20px;
   font-size: 15px;
 }
 
 .main article {
   outline: solid #000000;
   background-color: #DDDDDD;
   height: fit-content;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   overflow: hidden;
 }
 
 .main article:nth-child(1) {
 }
 
 .main article:nth-child(2) {
 width: 100%;
 
 }
 
 .main article:nth-child(3) {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }
 
 
 .main article img {
   max-width: 100%;
   display: block;
 }
 
 .main article p {
   font-size: 15px;
   padding: 20px;
 }
 
 @media screen and (max-width: 600px) {
   .main {
     width: auto;
     margin: 30px;
     display: block;
     row-gap: 15px;
     column-gap: 30px;
     font-size: 15px;
   }
 
   .main article+article {
     margin-top: 30px;
     margin-inline: auto;
   }
 }
 
 
 .lista li {
   height: 30px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-inline: 30px;
     padding-block: 20px;
     border-bottom: solid 1px;;
 
 }
 
 .lista li h2 {
   font-size: 15px;
   font-weight: 400;
   
 }
 
 .section-title{
     background-color:black;
 
 }
 
 .section-title li {
 height: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 30px;
   padding-block: 20px;
   border-bottom: solid .5px;
   color: white;
 }
 
 .section-title h2 {
   font-size: 15px;
   font-weight: 400;
   
 }
 
 .section {
   background-color: #000000;
   color: white;
     padding-inline: 30px;
     padding-block: 20px;
     border-bottom: solid .5px;
 
 }
 
 .section li+li {
 }
 
 .section li h2 {
   font-size: 15px;
   font-weight: 400;
 }
 
 .contact {
   background-color: #000000;
   color: white;
   padding-inline: 30px;
   padding-block: 20px;
   border-top: solid .5px;
 }
 
 .contact li h2 {
   font-size: 15px;
   font-weight: 400;
 
 
 }
 
 .footer {
   background-color: #000000;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-inline: 20px;
   padding-block: 10px;
   border-top: solid .5px;
 }
 
 .project-title {
   background-color: #DDDDDD;
 
 }
 
 .project-title li {
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 30px;
   padding-block: 20px;
 }
 
 .project-title h2 {
   font-size: 15px;
   font-weight: 400;
 }
 
 .project-intro {
   display: flex;
   border-top: solid 1px;
   background-color: white;
 }
 
 .project-intro>* {
   flex: 1;
 }
 
 @media screen and (max-width: 700px) {
   .project-intro {
     display: block;
   }
 }
 
 
 
 .project-intro p {
   margin: 20px;
 }
 
 .gallery {
   background-color: black;
   display: grid;
   grid-template-columns: auto auto;
 }
 