@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");

@supports (font-variation-settings: normal) {
  html {
    font-family: "Karla", sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  font-family: "Karla", sans-serif;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: aquamarine;
}

/* Variables */
:root {
  --black: #000000;
  --white: #ffffff;
  --font-system: -apple-system, sans-serif;
}

/* Base */
body {
  font-family: var(--font-system);
  background: var(--black);
  color: var(--white);
}

/* Home */
.home {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}

.thumbnails {
  position: absolute;
  bottom: 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.thumbnails div {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background: #aaa;
  border-radius: 100%;
}

.thumbnails div.highlighted {
  background-color: #fff;
}

.imagenes {
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  width: 700px;
  padding: 0 0.25rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.imagenes > li {
  scroll-snap-align: start;
}

.imagenes li img {
  min-width: 700px;
  height: 400px;
  object-fit: contain;
  object-position: center;
}

.imagenes li p {
  padding-top: 2rem;
  text-align: center;
}

.imagenes::-webkit-scrollbar {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 35px;
}

.description {
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

* {
  font-size: 20px !important;
}

/* Inspirado en: https://www.30secondsofcode.org/css/s/horizontal-gallery */
